<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Will split</th>
      <th>Wont split</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# view search by https://medium.com/@rrrachelrath/beginners-guide-to-making-a-ruby-on-rails-search-bar-9e94a9b161d9 %>
    <%= form_tag "/search", method: "GET" do %>
    	<%= label_tag :search_by_name %>
    	<%= text_field_tag :search_by_name, session[:search_by_name] %>

    	<%= label_tag :search_by_location %>
    	<%= text_field_tag :search_by_location, session[:search_by_location] %>

    	<%= submit_tag "Search" %>
    <% end %>
    <% @restaurants.each do |restaurant| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= restaurant.name %></td>
        <td><%= restaurant.location %></td>
        <td><%= restaurant.will_split %></td>
        <td><%= restaurant.wont_split %></td>
        <td><%= link_to 'Show', restaurant %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>

<%= link_to 'First', first_path %>
<%= link_to 'Previous 10', prev_10_path %>
<%= link_to 'Next 10', next_10_path %>
<%= link_to 'Last', last_path %>
