<h1>Split the Check</h1>

<% if user_signed_in? %>
  <% if @restaurant.is_favorite(current_user) %>
    <%= link_to image_tag("filled_star.png", width: 20),
      unfavorite_path(:id => @restaurant.id), :method => :patch %>
  <% else %>
    <%= link_to image_tag("unfilled_star.png", width: 20),
      favorite_path(:id => @restaurant.id), :method => :patch %>
  <% end %>
<% end %>

<p>
  Does <em><%= @restaurant.name %></em>,
  at <em><%= @restaurant.location %></em>,
  <strong>Split the Check</strong>?
</p>

<p>
  <strong>Yes: </strong><%= @restaurant.total_thumbs_up %>
</p>

<p>
  <strong>No: </strong><%= @restaurant.total_thumbs_down %>
</p>

<% if user_signed_in? %>
  <%= link_to image_tag("thumbs_up.png", width: 20),
    thumbs_up_path(:id => @restaurant.id), :method => :patch %>
  <%= link_to image_tag("thumbs_down.jpg", width: 20),
    thumbs_down_path(:id => @restaurant.id), :method => :patch %>
<% end %>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    <% @restaurant.comment.each do |comment| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= comment.user.email %></td>
        <td><%= comment.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? %>
  <%= form_with url: "/new_comment" do |form| %>
  	<%= form.label :new_comment %>
  	<%= form.text_field :new_comment, params[:new_comment] %>

  	<%= form.submit "New Comment" %>
  <% end %>
<% end %>

<%= link_to 'Back', restaurants_path %>
