<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @restaurant.location %>
</p>

<h1>Splits the Check</h1>

<p>
  <strong>Will split:</strong>
  <%= @restaurant.will_split %>
</p>

<p>
  <strong>Wont split:</strong>
  <%= @restaurant.wont_split %>
</p>

<%= link_to 'Back', restaurants_path %>
