<h1>Split the Check</h1>

<% if user_signed_in? %>
  <% if @restaurant.is_favorite(current_user) %>
    <%= link_to image_tag("filled_star.png", width: 20),
      unfavorite_path(:id => @restaurant.id), :method => :patch %>
  <% else %>
    <%= link_to image_tag("unfilled_star.png", width: 20),
      favorite_path(:id => @restaurant.id), :method => :patch %>
  <% end %>
<% end %>

<p>
  Does <em><%= @restaurant.name %></em>,
  at <em><%= @restaurant.location %></em>,
  <strong>Split the Check</strong>?
</p>

<p>
  <strong>Yes: </strong><%= @restaurant.total_thumbs_up %>
</p>

<p>
  <strong>No: </strong><%= @restaurant.total_thumbs_down %>
</p>

<% if user_signed_in? %>
  <%= link_to image_tag("thumbs_up.png", width: 20),
    thumbs_up_path(:id => restaurant.id), :method => :patch %>
  <%= link_to image_tag("thumbs_down.jpg", width: 20),
    thumbs_down_path(:id => restaurant.id), :method => :patch %>

  <% @restaurant.comment.each do |comment| %>
  	<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
  		<td><%= user %></td>
  		<td><%= comment %></td>
  	</tr>
  <% end %>
<% end %>

<%= link_to 'Back', restaurants_path %>
