<p id="notice"><%= notice %></p>

<h1>Split the Check</h1>

<p>
  Does <em><%= @restaurant.name %></em>,
  at <em><%= @restaurant.location %></em>,
  <strong>Split the Check</strong>?
</p>

<p>
  <strong>Yes: </strong><%= @restaurant.will_split %>
</p>

<p>
  <strong>No: </strong><%= @restaurant.wont_split %>
</p>

<%= link_to 'Back', restaurants_path %>
