<% if notice %>
	<aside id="notice"><%= notice %></aside>
<% end %>

<h1>Split the Check</h1>

<p>
  Does <em><%= @restaurant.name %></em>,
  at <em><%= @restaurant.location %></em>,
  <strong>Split the Check</strong>?
</p>

<p>
  <strong>Yes: </strong><%= @restaurant.will_split %>
</p>

<p>
  <strong>No: </strong><%= @restaurant.wont_split %>
</p>

<td><%= link_to image_tag("thumbs_up.png", width: 20),
  thumbs_up_path(:id => @restaurant.id), :method => :patch %></td>
<td><%= link_to image_tag("thumbs_down.jpg", width: 20),
  thumbs_down_path(:id => @restaurant.id), :method => :patch %></td>

<%= link_to 'Back', restaurants_path %>
